<html>
	<head>
		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'configuracion/style.css' %}" />
		<title>Detalles</title>
	</head>
	<body> 

		<h1> Nombre: {{minion.nombre_texto}} </h1>
		<p> {{x}}</p>
		<a href="{% url 'directorio:index' %}">Indice</a>

		
	</body>
</html>
